@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-back text-front lg:text-lg;
    background-image: url("./assets/bgimg.webp");
}
h1 {
    @apply text-4xl;
}
h2 {
    @apply text-3xl;
}
h3 {
    @apply text-2xl;
}
ol, ul {
    @apply list-decimal pl-6;
}
a {
    @apply underline;
}
a:hover {
    @apply text-front-dark;
}
.code {
    @apply font-monospace bg-back-dark;
}
.iconify {
    @apply inline-block;
    vertical-align: baseline;
    font-size: 1em;
}
.fancybtn:hover svg {
    @apply text-back-light;
}
ul {
    list-style: disc;
}